src/main/resources/RMSSchemas/ITIS-Local-03-00-02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Output of XML portions of the registry data into file: ITIS-Local-03-00-02.xsd -->
<!-- Run on Mini-Edit [Version 2.1.441] -->
<!-- From node C:136-5448-3969 Created on 10/20/2006 at 3:47:07 PM  -->
<!-- Source DB File: ITIS_Rev03_00_02.ITS rendered into namespace: ITIS-Local  -->
<!-- Production releases of ITS schemas can be found at: http://www.itsware.net/ITSschemas/ReadMe.htm -->
<!-- Last updated 2012-11-18 -->
<!-- By: I Smith-->
<!-- *********************************************************************************** -->
<!--NOTES - ChangeLog 2012-03-27 -->
<!-- *********************************************************************************** -->
<!-- Added Brown & Light blue sections of TMDDvsCMCS-IncidentTypes.xls-->
<!-- See TMDDvsCMCS-IncidentTypes.xls on sharepoint via below link-->
<!--  http://tmcsp/Projects/CME_TSCE/OldSite/Shared%20Documents/04.%20Analysis%20and%20Design/Requirements%20Traceability/Serco/TMDDvsCMCS-IncidentTypes.xls -->
<!-- -->
<!-- -->

<xs:schema xmlns="http://www.ITIS-Local-03-00-02" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://www.ITIS-Local-03-00-02" 
  elementFormDefault="unqualified" 
  attributeFormDefault="unqualified" 
  version="Adopted">
	<xs:annotation>
		<xs:documentation>
      Exported on: 03:47:07 PM Friday, October 20, 2006 From file: ITIS_Rev03_00_02.ITS [By: Mini-Edit Rev 2.1.441] 
   </xs:documentation>
	</xs:annotation>
	<!-- Descriptive Name: DE_Accidents-and-Incidents-Local -->
	<xs:simpleType name="AccidentsAndIncidents">
		<xs:restriction base="xs:string">
			<xs:enumeration value="accident involving a car"/>
			<xs:enumeration value="accident involving a over height vehicle"/>
		  <xs:enumeration value="reversing over height vehicle"/>
			<xs:enumeration value="closure"/>
			<xs:enumeration value="breakdown is attended"/>
			<xs:enumeration value="disabled car"/>
			<xs:enumeration value="disabled over height vehicle"/>
			<xs:enumeration value="breakdown closure"/>
			<xs:enumeration value="head on collision"/>
			<xs:enumeration value="loss of control collision"/>
			<xs:enumeration value="head to tail collision"/>
			<xs:enumeration value="right angle collision"/>
			<xs:enumeration value="vehicle to object collision"/>
			<xs:enumeration value="vehicle out of fuel"/>
		  <!-- Added for v3.9.0.0.11 -->
		  <xs:enumeration value="off-motorway incident"/>
		  <xs:enumeration value="insert-local-values-here"/>
		  
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Instructions-Mandatory-Local -->
	<xs:simpleType name="AdviceInstructionsMandatory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Instructions-Recommendations-Local -->
	<xs:simpleType name="AdviceInstructionsRecommendations">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Alternate-Route-Local -->
	<xs:simpleType name="AlternateRoute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="northbound contraflow"/>					
			<xs:enumeration value="eastbound contraflow"/>
			<xs:enumeration value="southbound contraflow"/>			
			<xs:enumeration value="westbound contraflow"/>
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Asset-Status-Local -->
	<xs:simpleType name="AssetStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Closures-Road-and-Lane-Local -->
	<xs:simpleType name="Closures">
		<xs:restriction base="xs:string">
			<xs:enumeration value="miscellaneous closure"/>
			<xs:enumeration value="accident"/>
			<xs:enumeration value="police operations"/>
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Delays,-Status,-And-Cancellations-Local -->
	<xs:simpleType name="DelayStatusCancellation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="external network impact"/>
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Device-And-Equipment-Status-Local -->
	<xs:simpleType name="DeviceStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Disasters-Local -->
	<xs:simpleType name="Disasters">
		<xs:restriction base="xs:string">
			<xs:enumeration value="other fire"/>
			<xs:enumeration value="factory fire"/>
			<xs:enumeration value="house fire"/>
			<xs:enumeration value="force majeure"/>
		  <!-- Added for v3.9.0.0.11 -->
		  <xs:enumeration value="bushfire"/>
		  <xs:enumeration value="fire in tunnel"/>
		  <xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Disturbances-Local -->
	<xs:simpleType name="Disturbances">
		<xs:restriction base="xs:string">
			<xs:enumeration value="missile throwing"/>
			<xs:enumeration value="road rage"/>		
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Generic-Locations-Local -->
	<xs:simpleType name="GenericLocations">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Incident-Response-Equipment-Local -->
	<xs:simpleType name="IncidentResponseEquipment">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Incident-Response-Status-Local -->
	<xs:simpleType name="IncidentResponseStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_ITIS-Local -->
	<xs:simpleType name="ITIScodes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Lane-Roadway-Descriptions-Local -->
	<xs:simpleType name="LaneRoadway">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Mobile-Situation-Local -->
	<xs:simpleType name="MobileSituation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Objects-Local -->
	<xs:simpleType name="Objects">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Obstructions-Local -->
	<xs:simpleType name="Obstruction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="miscellaneous hazard"/>
			<xs:enumeration value="hazardous load"/>
			<xs:enumeration value="oversized vehicle"/>
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Parking-Information-Local -->
	<xs:simpleType name="ParkingInformation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Pavement-Conditions-Local -->
	<xs:simpleType name="PavementConditions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="wet road"/>
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Precipitation-Local -->
	<xs:simpleType name="Precipitation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Manual"/>
			<xs:enumeration value="one hour"/>
			<xs:enumeration value="24 hours"/>
			<xs:enumeration value="sensor"/>
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Qualifiers-Local -->
	<xs:simpleType name="Qualifiers">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Responder-Group-Affected-Local -->
	<xs:simpleType name="ResponderGroupAffected">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Restrictions-Local -->
	<xs:simpleType name="RestrictionClass">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Roadside-Assets-Local -->
	<xs:simpleType name="RoadsideAssets">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Roadwork-Local -->
	<xs:simpleType name="Roadwork">
		<xs:restriction base="xs:string">
			<xs:enumeration value="intersection"/>
			<xs:enumeration value="new road construction"/>
			<xs:enumeration value="road opening"/>
			<xs:enumeration value="repair"/>
			<xs:enumeration value="sign signl"/>
			<xs:enumeration value="traf rpair"/>
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="SHB"/>
			<xs:enumeration value="camera"/>
			<xs:enumeration value="tree lop"/>
			<xs:enumeration value="vsls"/>
			<xs:enumeration value="signals"/>
			<xs:enumeration value="tmu"/>
			<xs:enumeration value="vms"/>
			<xs:enumeration value="weather"/>
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Special-Events-Local -->
	<xs:simpleType name="SpecialEvents">
		<xs:restriction base="xs:string">
			<xs:enumeration value="category 1"/>
			<xs:enumeration value="category 2"/>
			<xs:enumeration value="category 3"/>
			<xs:enumeration value="category 4"/>
			<xs:enumeration value="category 5"/>
			<xs:enumeration value="class 1"/>
			<xs:enumeration value="class 2"/>
			<xs:enumeration value="class 3"/>
			<xs:enumeration value="class 4"/>
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Sporting-Events-Local -->
	<xs:simpleType name="SportingEvents">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Suggestion-Advice-Local -->
	<xs:simpleType name="SuggestionAdvice">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Information-System-Local -->
	<xs:simpleType name="SystemInformation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Temperature-Local -->
	<xs:simpleType name="Temperature">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Traffic-Conditions-Local -->
	<xs:simpleType name="TrafficConditions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="hazardous"/>
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Transit-Mode-Local -->
	<xs:simpleType name="TransitMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Transit-Operations-Local -->
	<xs:simpleType name="TransitOperations">
		<xs:restriction base="xs:string">
			<xs:enumeration value="police"/>
			<xs:enumeration value="incident"/>
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Traveler-Group-Affected-Local -->
	<xs:simpleType name="TravelerGroupAffected">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Unit-Values-Local -->
	<xs:simpleType name="Units">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Unusual-Driving-Local -->
	<xs:simpleType name="UnusualDriving">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Vehicle-Groups-Affected-Local -->
	<xs:simpleType name="VehicleGroupAffected">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Visibility-andampampamp-Air-Quality-Local -->
	<xs:simpleType name="VisibilityAndAirQuality">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Warning-Advice-Local -->
	<xs:simpleType name="WarningAdvice">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Weather-Conditions-Local -->
	<xs:simpleType name="WeatherConditions">
		<xs:restriction base="xs:string">
		  <!-- Added for v3.9.0.0.11 -->
		  <xs:enumeration value="adverse weather"/>
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Winds-Local -->
	<xs:simpleType name="Winds">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Winter-Driving-Index-Local -->
	<xs:simpleType name="WinterDrivingIndex">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Winter-Driving-Restrictions-and-Recommendations-Local -->
	<xs:simpleType name="WinterDrivingRestrictions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- RMS Specific Types & Enumerations-->
	<!-- Required elements/enumerations of CMCS incident types values based upon usage sample -->
	<xs:simpleType name="TunnelSystemFault">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="miscellaneous"/>
					<xs:enumeration value="communication system"/>
					<xs:enumeration value="centre failure"/>
					<xs:enumeration value="light"/>
					<xs:enumeration value="power"/>
				  <!-- Added for v3.9.0.0.11 -->
				  <xs:enumeration value="system failure"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\[.+\].*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="TunnelSystemOperations">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="miscellaneous"/>
				  <!-- "air q.*" is deprecated as of v3.9.0.11. 
				  Use "air quality" instead. -->
					<xs:enumeration value="air q"/>
					<xs:enumeration value="air q s2"/>
					<xs:enumeration value="air q s3"/>
					<xs:enumeration value="deluge"/>
					<xs:enumeration value="fire equipment"/>
					<xs:enumeration value="fire debris"/>
					<xs:enumeration value="fire vehicle"/>
				  <!-- Added for v3.9.0.0.11 -->
				  <xs:enumeration value="air quality"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\[.+\].*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="RoadUse">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="crane"/>
					<xs:enumeration value="hoarding"/>
					<xs:enumeration value="investgate"/>
					<xs:enumeration value="wide load"/>
					<xs:enumeration value="mobile active"/>
					<xs:enumeration value="other"/>
					<xs:enumeration value="survey"/>
					<xs:enumeration value="unknown"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\[.+\].*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="Tow">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="clearway"/>
					<xs:enumeration value="crash"/>
					<xs:enumeration value="chief tow"/>
					<xs:enumeration value="breakdown"/>
					<xs:enumeration value="translane"/>
					<xs:enumeration value="special event"/>
					<xs:enumeration value="tway"/>
					<xs:enumeration value="clearway 2"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\[.+\].*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="Miscellaneous">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="miscellaneous"/>
					<xs:enumeration value="other"/>
					<xs:enumeration value="testing"/>
					<xs:enumeration value="wet weather"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\[.+\].*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="RoadOccupancy">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="maintenance"/>
					<xs:enumeration value="construction"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\[.+\].*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="SignalFault">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="miscellaneous"/>
					<xs:enumeration value="black out"/>
					<xs:enumeration value="flashing yellow"/>
					<xs:enumeration value="power failure"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\[.+\].*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- END of the output -->
</xs:schema>
