src/main/resources/RMSSchemas/SOAPHeader_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    TMC SOAP message context schema
	Date: 25-06-2012
	By: TMC SOA Proficiency Group
    version: 1.0
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://transport.nsw.gov.au/tmc/schemas/software_component/SOAPHeader/v1" targetNamespace="http://transport.nsw.gov.au/tmc/schemas/software_component/SOAPHeader/v1" version="1.0">
	<!-- Constructs from the TMC SOAP message context -->
	<xs:element name="MsgContext" type="tns:MsgContextCType"/>
	<xs:complexType name="MsgContextCType">
		<xs:sequence>
			<!-- msgSolution: {mandatory} : identify the solution which access the service. A solution is an SOA application which consumed and compose services to execute business processes  -->
			<xs:element name="msgSolution" type="tns:NonEmptyStringCType"/>
			<!-- msgCorrelationID*: {mandatory} :The correlationID is used to log transaction across multiple intermediaries. It is generated by the origin of the transaction and should use a GUID -->
			<xs:element name="msgCorrelationID" type="tns:GUIDCType"/>
			<!-- msgTransaction: {optional}  : solution may have multiple transactions and this identifies the single transaction which request access to the service. -->
			<xs:element name="msgTransaction" type="tns:NonEmptyStringCType" minOccurs="0"/>
			<!-- msgSource: {optional} : Is used to identify the sender system. -->
			<xs:element name="msgSource" type="tns:NonEmptyStringCType" minOccurs="0"/>
			<!-- msgDestination: {optional} :    When a message is intended for a target system, this element contains the destination. -->
			<xs:element name="msgDestination" type="tns:NonEmptyStringCType" minOccurs="0"/>
			<!-- msgPrioirty: {optional} : Priority of a message is generally 4 (normal) unless set to a higher or lower priority value (0 is the highest, 9 is the lowest). -->
			<xs:element name="msgPriority" type="tns:MsgPriorityCType" minOccurs="0"/>
			<!-- msgTimestamp: {optional} : identify when the message has been created by the sender. -->
			<xs:element name="msgTimestamp" type="xs:dateTime" minOccurs="0"/>
			<!-- extension: {optional} : A collection of key/value pairs to specify any service specific data. -->
			<xs:element name="extension" type="tns:ExtensionCType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtensionCType">
		<xs:sequence>
			<xs:element name="name" type="tns:NonEmptyStringCType"/>
			<xs:element name="value" type="tns:NonEmptyStringCType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Common XML Schema types -->
	<xs:simpleType name="GUIDCType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonEmptyStringCType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgPriorityCType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
